src/Plugins/Widgets.TrustedShopsCustomerProtection/Web References/com.trustedshops.protectionqa/ApplicationRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsp.ts.nhp.com/" name="ApplicationRequestService" targetNamespace="http://tsp.ts.nhp.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="ApplicationRequestService_setShippingInformation">
    <part name="tsId" type="xsd:string" />
    <part name="orderId" type="xsd:string" />
    <part name="customerId" type="xsd:string" />
    <part name="logisticsCompany" type="xsd:string" />
    <part name="shippingDate" type="xsd:dateTime" />
    <part name="trackingNumber" type="xsd:string" />
  </message>
  <message name="ApplicationRequestService_requestForProtectionV2">
    <part name="tsId" type="xsd:string" />
    <part name="tsProductId" type="xsd:string" />
    <part name="amount" type="xsd:decimal" />
    <part name="currency" type="xsd:string" />
    <part name="paymentType" type="xsd:string" />
    <part name="buyerEmail" type="xsd:string" />
    <part name="shopCustomerID" type="xsd:string" />
    <part name="shopOrderID" type="xsd:string" />
    <part name="orderDate" type="xsd:dateTime" />
    <part name="shopSystemVersion" type="xsd:string" />
    <part name="wsUser" type="xsd:string" />
    <part name="wsPassword" type="xsd:string" />
  </message>
  <message name="ApplicationRequestService_requestForProtectionV2Response">
    <part name="requestForProtectionV2" type="xsd:long" />
  </message>
  <message name="ApplicationRequestService_requestForProtection">
    <part name="tsId" type="xsd:string" />
    <part name="tsProductId" type="xsd:string" />
    <part name="amount" type="xsd:decimal" />
    <part name="currency" type="xsd:string" />
    <part name="paymentType" type="xsd:string" />
    <part name="buyerEmail" type="xsd:string" />
    <part name="shopCustomerID" type="xsd:string" />
    <part name="shopOrderID" type="xsd:string" />
    <part name="orderDate" type="xsd:dateTime" />
    <part name="wsUser" type="xsd:string" />
    <part name="wsPassword" type="xsd:string" />
  </message>
  <message name="ApplicationRequestService_pingResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="ApplicationRequestService_getRequestStateResponse">
    <part name="getRequestState" type="xsd:long" />
  </message>
  <message name="ApplicationRequestService_ping">
    <part name="arg0" type="xsd:int" />
  </message>
  <message name="ApplicationRequestService_requestForProtectionResponse">
    <part name="requestForProtection" type="xsd:long" />
  </message>
  <message name="ApplicationRequestService_alive" />
  <message name="ApplicationRequestService_aliveResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="ApplicationRequestService_setShippingInformationResponse">
    <part name="setShippingInformation" type="xsd:long" />
  </message>
  <message name="ApplicationRequestService_getRequestState">
    <part name="tsId" type="xsd:string" />
    <part name="applicationId" type="xsd:long" />
  </message>
  <portType name="ApplicationRequestService">
    <operation name="alive">
      <input message="tns:ApplicationRequestService_alive" />
      <output message="tns:ApplicationRequestService_aliveResponse" />
    </operation>
    <operation name="getRequestState" parameterOrder="tsId applicationId">
      <input message="tns:ApplicationRequestService_getRequestState" />
      <output message="tns:ApplicationRequestService_getRequestStateResponse" />
    </operation>
    <operation name="ping" parameterOrder="arg0">
      <input message="tns:ApplicationRequestService_ping" />
      <output message="tns:ApplicationRequestService_pingResponse" />
    </operation>
    <operation name="requestForProtection" parameterOrder="tsId tsProductId amount currency paymentType buyerEmail shopCustomerID shopOrderID orderDate wsUser wsPassword">
      <input message="tns:ApplicationRequestService_requestForProtection" />
      <output message="tns:ApplicationRequestService_requestForProtectionResponse" />
    </operation>
    <operation name="requestForProtectionV2" parameterOrder="tsId tsProductId amount currency paymentType buyerEmail shopCustomerID shopOrderID orderDate shopSystemVersion wsUser wsPassword">
      <input message="tns:ApplicationRequestService_requestForProtectionV2" />
      <output message="tns:ApplicationRequestService_requestForProtectionV2Response" />
    </operation>
    <operation name="setShippingInformation" parameterOrder="tsId orderId customerId logisticsCompany shippingDate trackingNumber">
      <input message="tns:ApplicationRequestService_setShippingInformation" />
      <output message="tns:ApplicationRequestService_setShippingInformationResponse" />
    </operation>
  </portType>
  <binding name="ApplicationRequestServiceBinding" type="tns:ApplicationRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="alive">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
    <operation name="getRequestState">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
    <operation name="requestForProtection">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
    <operation name="requestForProtectionV2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
    <operation name="setShippingInformation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://tsp.ts.nhp.com/" />
      </output>
    </operation>
  </binding>
  <service name="ApplicationRequestService">
    <port name="ApplicationRequestServicePort" binding="tns:ApplicationRequestServiceBinding">
      <soap:address location="https://protection-qa.trustedshops.com:443/ts/protectionservices/ApplicationRequestService" />
    </port>
  </service>
</definitions>